@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/_mixins" as *;

.product-page {
    display: flex;
    flex-direction: column;
}

.page__section1 {
    width: 50%;
}
.page__section2 {
    width: 50%;
}
.display__product--details {
    width: 70vw;
    margin: 4rem;
    @include tablet {
        width: 30vw;
    }
    @include bigdesktop {
        width: 15vw;
    }
    @include biggestdesktop {
        width: 20vw;
        margin: 0rem 0rem 0rem 2rem;
    }
}
.selectedProduct__title {
    font-weight: 700;
    font-size: medium;
    @include biggestdesktop {
        font-size: x-large;
        line-height: 3rem;
        margin-left: 0rem;
     }
}
.selectedProduct__price {
    font-weight: 700;
    color: $p-green;
    margin-left: 8rem;
    @include tablet {
        margin-left: 17rem;
    }
    @include laptop {
        margin-left: 24rem;
    }
    @include desktop {
        margin-left: 27rem;
    }
    @include biggestdesktop {
        font-size: x-large;
        line-height: 3rem;
        margin-left: 95rem;
     }
}
.product__description {
 
 margin: 0rem 1rem;
 @include tablet {
    margin: 0rem 10rem; 
 }
 @include biggestdesktop {
    font-size: x-large;
    line-height: 3rem;
    margin: 0rem 80rem;
 }
}