@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/_mixins" as *;

.allproducts__title {
  color: #6270a3;
  font-weight: 700;
  font-size: larger;
  text-align: left;
  cursor: pointer;
  margin: 1rem 0rem 1rem 1rem;
  @include tablet {
    font-size: x-large;
    margin: 2rem 0rem 0rem 6rem;
  }
  @include laptop {
    margin: 3rem 0rem 0rem 5rem;
  }
  @include desktop {
    margin: 3rem 0rem 0rem 16rem;
  }
  @include bigdesktop {
    margin: 4rem 0rem 0rem 11rem;
  }
  @include biggestdesktop {
    font-size: 3rem;
    margin: 5rem 21rem;
  }
}
.allproducts__link {
  text-decoration: none;
}
.allproducts__list {
  text-align: left;
  font-weight: 700;
  color: $p-silver;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    padding: 2rem 0rem 1rem 0rem;
  }
  @include desktop {
    width: 85%;
  }
  @include bigdesktop {
    width: 85%;
    padding: 1rem 0rem;
  }
  @include biggestdesktop {
    height: 60vh;
  }
}
.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -2rem;
  width: 100%;
  height: 1rem;
  @include tablet {
    width: 80%;
    position: absolute;
    height: 2.5rem;
    margin-left: 5rem;
    bottom: 1rem;
  }
  @include laptop {
    margin-left: 7rem;
  }
  @include desktop {
    width: 87%;
  }
  @include bigdesktop {
    bottom: 3rem;
    width: 80%;
  }
  @include biggestdesktop {
    width: 90%;
    height: 10%;
  }
}
.paginationBttns a {
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 20px;
  border: 1px solid $p-green;
  color: $p-green;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: $p-green;
    color: $p-white;
    font-weight: 700;
  }
}
.paginationActive a {
  background-color: $p-green;
  color: $p-white;
  font-weight: 700;
}
