@use "../../styles/partials/__variables" as *;

.allproducts__title {
  color: #6270a3;
  font-weight: 700;
  font-size: x-large;
  text-align: left;
  margin: 0rem 22rem;
  cursor: pointer;
}
.allproducts__link {
  text-decoration: none;
}
.allproducts__list {
  text-align: left;
  font-weight: 700;
  padding: 2rem 0rem 1rem 0rem;
  margin-left: 1rem;
  color: $p-silver;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  box-sizing: border-box;
  justify-content: space-evenly;
  margin: 0 auto;
}
.paginationBttns {
  width: 80%;
  height: 2.5rem;
  margin-top: 2.5rem;
  margin-left: 15rem;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 20px;
  border: 1px solid $p-green;
  color: $p-green;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: $p-green;
    color: $p-white;
    font-weight: 700;
  }
}
.paginationActive a {
  background-color: $p-green;
  color: $p-white;
  font-weight: 700;
}
        