$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$bigdesktop-breakpoint: 1440px;
// $my-api-key: "?api_key=e31ad39d-7a8d-46f7-a02e-c22845195962";
$p-black: #323232;
$s-black: #000000;
$p-blue: #0065AD;
$s-blue: #87CEFA;
$p-green: #76A362;
$s-green: #B0D99C;
$p-pink: #DDA0DD;
$p-yellow: #FFFF00;
$p-orange: #FF7F50;
$p-silver: #AFAFAF;
$s-silver: #E1E1E1;
$p-white:  #FAFAFA; 
$s-white: #FFFFFF;
$error-color: #DB0F0F;