$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$bigdesktop-breakpoint: 1440px;
$my-api-key: "?api_key=e31ad39d-7a8d-46f7-a02e-c22845195962";
$p-black: #323232;
$s-black: #000000;
$p-blue: #87CEFA;
$s-blue: #0065AD;
$p-green: #98FB98;
$s-green: #66CDAA;
$p-pink: #DDA0DD;
$p-yellow: #FFFF00;
$p-orange: #FF7F50;
$p-silver: #AFAFAF;
$s-silver: #E1E1E1;
$p-white: #FFFFFF;
$s-white: #FAFAFA;
$error-color: #D22D2D;