@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

.nav-bar {
  display: flex;
  flex-direction: column;
  height: 15rem;
  background-color: $s-green;
  @include tablet {
    height: 7rem;
  }
  @include bigdesktop {
    height: 9rem;
  }
  @include biggestdesktop {
    height: 12rem;
  }
}
.nav-bar__container1 {
  background-color: $p-green;
  display: flex;
  @include tablet {
    padding: 0rem;
  }
  @include desktop {
    padding: 0.2rem;
  }
  @include biggestdesktop {
    height: 4rem;
  }
}
.nav-bar__image {
  background-color: $p-green;
  height: 100%;
  padding: 0.5rem 1rem;
}
.nav-bar__container2 {
  background-color: $s-green;
  height: 1002rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @include tablet {
    padding: 0rem 0.5rem;
    flex-direction: row;
    justify-content: space-around;
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
  @include biggestdesktop {
    flex-direction: row;
    height: 8rem;
  }
}
.nav-bar__link {
  cursor: pointer;
  background-color: $s-green;
  @include biggestdesktop {
    height: 7rem;
  }
}
.logo__image {
  background-color: $s-green;
  position: relative;
  cursor: pointer;
  @include tablet {
    height: 4.5rem;
  }
  @include laptop {
    height: 4.5rem;
  }
  @include desktop {
    padding-left: 2.5rem;
    height: 5rem;
  }
  @include bigdesktop {
    height: 5rem;
  }
  @include biggestdesktop {
    padding-left: 5.5rem;
    height: 7rem;
  }
}
.categories__icon {
  background-color: $s-green;
  height: 1.3rem;
}
.nav-bar__list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  background-color: $s-green;
}
.list__item {
  background-color: $s-green;
  color: $s-black;
  font-weight: 700;
  display: flex;
  padding: 0rem 1.1rem;
  @include tablet {
    font-size: smaller;
    padding: 0rem 0.5rem;
  }
  @include laptop {
    font-size: small;
    padding: 0rem 1.7rem;
  }
  @include desktop {
    font-size: small;
    padding: 0rem 1.7rem;
  }
  @include bigdesktop {
    padding-right: 5rem;
  }
  @include biggestdesktop {
    font-size: x-large;
  }
}
.nav-bar__container3 {
  background-color: $s-green;
  display: flex;
  align-items: center;
  @include tablet {
    justify-content: space-evenly;
  }
}
.nav-bar__login {
  background-color: $s-green;
  padding: 0.5rem;
  height: 2.5rem;
  @include tablet {
    padding: 0.1rem;
    height: 1.6rem;
  }
  @include desktop {
    padding-right: 1rem;
    height: 2rem;
  }
  @include bigdesktop {
    height: 2rem;
  }
  @include biggestdesktop {
    height: 3.2rem;
  }
}

.nav-bar__cart {
  background-color: $s-green;
  padding: 0.5rem;
  height: 3rem;
  @include tablet {
    padding: 0.1rem;
    padding-left: 0.5rem;
    height: 2.1rem;
  }
  @include desktop {
    padding-right: 2.5rem;
    height: 2.5rem;
  }
  @include bigdesktop {
    height: 2.6rem;
  }
  @include biggestdesktop {
    padding-right: 6.5rem;
    height: 4.5rem;
  }
}
