@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

.nav-bar {
  display: flex;
  flex-direction: column;
  height: 7rem;
  width: 100%;
  @include bigdesktop {
    height: 15rem;
  }
}
.nav-bar__container1 {
  background-color: $p-green;
  display: flex;
  padding: 0.5rem 0rem;
}
.nav-bar__image {
  background-color: $p-green;
  height: 100%;
  padding: .5rem 1rem;
}
.nav-bar__container2 {
  background-color: $s-green;
  padding: 1rem 3rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav-bar__link {
  // position: relative;
  height: 5rem;
  background-color: $s-green;
}
.logo__image {
  background-color: $s-green;
  position: relative;
 
  @include bigdesktop {
    height: 5rem;
  }
}
.nav-bar__container3{
  background-color: $s-green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar__login {
    background-color: $s-green;
    padding: 1rem;
    @include bigdesktop {
      height: 4rem;
    }
}

.nav-bar__cart {
  background-color: $s-green;
  padding: 0.5rem;
  @include bigdesktop {
    height: 4rem;
  }
}


